@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f5f1e8;
  --foreground: #171717;
  --content-container-max-width: 72rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-ibm-plex-serif-400);
}

@theme {
  --breakpoint-xs: 460px; /* 640px */
  --breakpoint-layout: 900px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.dual-home {
  --dual-accent: #171717;
}

.dual-home.is-design {
  --dual-accent: #ee5d3f;
}

.dual-home.is-engineering {
  --dual-accent: #3155d9;
}

.dual-action {
  background: var(--dual-accent);
  color: white;
}

ul {
  margin-bottom: 0;
}

address {
  font-style: normal;
}

.dither {
  background-image: url("/dither.svg");
  background-repeat: repeat;
  background-position-y: 2px;
  background-position-x: 2px;
}

.footer-dither {
  height: 4rem;
  background-color: var(--background);
  background-image: radial-gradient(
    circle,
    rgb(0 0 0 / 38%) 1.25px,
    transparent 1.5px
  );
  background-size: 10px 10px;
}

@layer components {
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.7s ease forwards;
    animation-delay: 0.2s;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content-container {
    max-width: var(--content-container-max-width);
    @apply mx-auto;
    @apply px-4;
  }

  .section-grid {
    grid-template-columns: 1fr var(--content-container-max-width) 1fr;
  }

  .section__paragraph {
    font-family: var(--font-ibm-plex-serif-400);
  }

  .font-serif {
    font-family: var(--font-serif);
  }

  .pressable-button {
    transition:
      transform 0.1s ease,
      height 0.1s ease;
  }

  .pressable-button:active {
    transform: translateY(4px);
  }

  .pressable-button:active .dither {
    height: 5px !important;
  }
}
